<div>
	<div class="flex items-center justify-around">
		<span class="text-lg font-semibold">JS+</span>
		<span class="text-lg font-semibold">TypeScript</span>
	</div>

	<div class="grid grid-cols-2 gap-2 *:mt-0">
		<slot />
	</div>
</div>
