<div class="space-y-2">
	<div class="flex items-center justify-around">
		<span class="text-lg">JS+</span>
		<span class="text-lg">TypeScript</span>
	</div>

	<div class="grid grid-cols-2 gap-2 *:mt-0">
		<slot />
	</div>
</div>
