---
type Props = {
	support:
		| {
				value: '?' | false;
		  }
		| {
				value: true;
				link?: string;
		  };
};

const { support } = Astro.props;
---

{
	support.value === '?' ? (
		'❔'
	) : support.value === true ? (
		support.link ? (
			<span>
				✅<a href={support.link}>View</a>
			</span>
		) : (
			'✅'
		)
	) : (
		'❌'
	)
}
